<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.LogMapper">
    <resultMap id="delete_log" type="com.pojo.Log">
        <result property="id" column="id"/>
        <result property="data" column="data"/>
        <result property="msg" column="msg"/>
    </resultMap>
    <insert id="insert1" >
          INSERT INTO delete_log (data,msg)  VALUE (#{Del},#{info})
    </insert>
</mapper>